<div class="category">カテゴリ:プルダウンリスト</div>
<div class="list-container">
  <% @flowcharts.each do |f| %>
    <div class="index-title">
      <%= link_to f.title, flowchart_path(f.id), class: "link" %>
    </div>
    <div class="flowchart-content">
      <div class="image-container">
        <%= image_tag(f.image, class: "flowchart-image") %>
      </div>
      <div class="summary-container">
        <p class="goal"><%= f.goal %></p>
        <a class="author link" href="#">by: <%= f.user.name %></a>
      </div>
    </div>
  <% end %>
</div>
<%= link_to new_flowchart_path do %>
  <%= image_tag("fillable_card_line48.png", class: "new-flowchart") %>
  <span class="new-flowchart-text">書く</span>
<% end %>
