<div class="show-title"><%= @flowchart.title %></div>
<ol>
  <li class="process">
    1. タイトル
  </li>
  <%= image_tag("arrow_down_line48.png", class: "arrow-image") %>
  <li class="process">
    2. タイトル
  </li>
  <%= image_tag("arrow_down_line48.png", class: "arrow-image") %>
  <li class="process">
    3. タイトル
  </li>
  <%= image_tag("arrow_down_line48.png", class: "arrow-image") %>
</ol>
<p class="goal-message">GOAL!</p>
<div class="show-goal">
  <%= image_tag("public_offering_line72.png") %>
  <p><%= @flowchart.goal %></p>
</div>
<div class="process-form"></div>
